/******************/
/******LOGIN*******/
/*****REGISTER*****/
/******************/

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
}

.btn-primary,
.btn-primary:hover {
  color: #fff;
  margin-bottom: 1rem;
}

.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  background-color: #6b778d;
}

.btn-primary:hover {
  background-color: #6b778d;
  cursor: pointer;
}

.btn-block {
  width: 100%;
  display: block;
}


.login,
.register {
  position: relative;
  left: 50%;
  margin: -5px 0 0 -150px;
  width: 300px;

  border: 2px solid #6b778d;
  border-radius: 0.5rem;

  padding-left: 1rem;
  padding-right: 1rem;

  margin-bottom: 1rem;
}

.login h1,
.register h1 {
  color: #fff;

  letter-spacing: 1px;

  text-align: center;

  margin-bottom: 0.5rem;
}


input {
  width: 100%;

  margin-bottom: 10px;

  background: rgba(0, 0, 0, 0.3);

  padding: 10px;

  color: #fff;

  border-radius: 4px;
}

.time {
  color: #FFF;
}

body {
  min-height: 100vh;
}