<%- include('../partials/head')%>
<body>
  <main>
    <div class="wrapper">
      <h1><%= errCode %> error!</h1>
      <h2>Uh oh...</h2>
      <img src="https://warehouse-camo.ingress.cmh1.psfhosted.org/2e5d6f776534fb7359fe412019743be199f86e6a/68747470733a2f2f692e696d6775722e636f6d2f426a4b5445386d2e6a706567" alt="shaking head and hands with the word 'panik'">
      <p>Dont panic! click below to go to the home page</p>
      <a href="/"><button>Home Please!</button></a>
    </div>
  </main>
  <%- include('../partials/footer')%>
</body>
</html>